

<div id="contact-us" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contact-us" aria-hidden="true">
    <div class="modal-dialog modal-full-screen">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="fa fa-lg fa-times-circle-o"></span>
              </button>


            </div>
            <div class="message-success">
                <h1>Thank you, your request has been submitted to our staff.</h1>
            </div>
            <div class="message-failure">
                <h1>We experienced an error submitting your request.</h1>
            </div>
            <div id="spinner">
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
        </div>
    </div>
</div> <!-- /#contact -->
