<header>
    <nav class="navbar navbar-inverse navbar-light bg-faded navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">

        <button class="navbar-toggler hidden-xl-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">&#9776;</button>

        <a class="navbar-brand" href="{{ site.url }}">
          <img src="{{ site.logo }}" />
        </a>
      </div>

      <div class="navbar-collapse collapse navbar-toggleable-lg" id="navbarResponsive">
          <ul class="nav navbar-nav pull-right">
              {% unless page.index %}
              <li><a href="{{ site.url }}">Home</a></li>
              {% endunless %}
              <li class="list-inline-item"><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="fa fa-rss fa-2x" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#contact-us" data-toggle="modal" data-target="#contact-us"><i class="fa fa-comment fa-2x" aria-hidden="true"></i></a></li>
              {% for social in site.social_links %}
                <li class="list-inline-item">
                  <a href="{{ social.url }}" title="{{ social.service }}" target="_blank">
                    <i class="fa fa-{{ social.service }} fa-2x"></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
      </div>
    </div> <!-- /.container -->
  </nav> <!--</div>--> <!-- /.navbar -->
</header>
