{% comment %}---> Include first 2 most recent blog posts,
                  strip out "featured" and "ads" tags {% endcomment %}

{% for post in site.posts limit:2 %}
{% comment %}---> limiting the featured post to masthead,
                  not repeating in body {% endcomment %}
{% unless post.tag contains 'ad' %}
{% unless post.tag contains 'featured' %}
<article class="col-lg-6 medium-cards">

  <div class="row card-row">

    <div class="col-md-12">
      <a class="thumbs" href="{{ post.url | prepend: site.baseurl }}">
      {% if post.image %}
      <img class="img-fluid" src="/images/posts/{{post.image}}" alt="{{ post.title }}" >
      {% else %}
      <img class="img-fluid" src="/images/" alt="{{ post.title }}" >
      {% endif%}
    </a>
    </div>
    <div class="col-md-12 cardcontent">
      <a class="post-title" href="{{ post.url | prepend: site.baseurl }}"><h2 itemprop="name">{{ post.title }}</h2></a>
      <span class="card-author"><author>by <strong>{{ post.author }}</strong> | Posted: <em>{{ post.date | date: "%b %-d, %Y" }}</em></author></span>
      <p>
        <a class="post-tag" href="{{ post.category | prepend: site.baseurl | downcase }}"> {{ post.category }}</a>
         {{ post.content | strip_html | truncatewords:21 }}
        <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">
          {% if post.category == "video" %}
          Watch now <i class="fa fa-youtube-play"></i>
          {% else %}
          Read more <i class="fa fa-arrow-circle-right"></i>
          {% endif %}
        </a>
      </p>
    </div>
  </div>
</article>
{% endunless %}
{% endunless %}
{% endfor %}

{% comment %}---> Include Advertisment as 3rd Post {% endcomment %}

<article class="col-lg-6 ad">
<div class="row card-row">
  <div class="col-md-12">
    <ul class="list-inline text-xs-center">
      <li class="list-item"><iframe src="https://rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=indscieletric&banner=07WXZ2X5562PXFZ0PFG2&f=ifr&linkID=668d0cde89f1f017c258586b37dd82ea&t=360531-20&tracking_id=360531-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe></li>
      <li class="list-item"><iframe src="https://rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=indscieletric&banner=1M1TKKSF765MEM5DEQ02&f=ifr&linkID=c81aa3551715d2ec5201d2d2d3509d38&t=360531-20&tracking_id=360531-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe></li>
    </ul>
  </div>
</div>
</article>

{% comment %}---> offset the rest of blog posts,
                  strip out "featured","ads" and "video" tags {% endcomment %}

{% for post in site.posts offset:2 limit:2 %}
{% unless post.tag contains 'featured' %}
{% unless post.tag contains 'ad' %}

<article class="col-lg-6 medium-cards">
<div class="row card-row">
<div class="col-md-12">
  <a class="thumbs" href="{{ post.url | prepend: site.baseurl }}">
  {% if post.image %}
  <img class="img-fluid" src="/images/posts/{{post.image}}" alt="{{ post.title }}" >
  {% else %}
  <img class="img-fluid" src="/images/" alt="{{ post.title }}" >
  {% endif%}
</a>
</div>
<div class="col-md-12 cardcontent">
  <a class="post-title" href="{{ post.url | prepend: site.baseurl }}"><h2 itemprop="name">{{ post.title }}</h2></a>
  <span class="card-author"><author>by <strong>{{ post.author }}</strong> | Posted: <em>{{ post.date | date: "%b %-d, %Y" }}</em></author></span>
  <p>
    <a class="post-tag" href="{{ post.category | prepend: site.baseurl | downcase }}"> {{ post.category }}</a>
     {{ post.content | strip_html | truncatewords:21 }}
    <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">
      Read more <i class="fa fa-arrow-circle-right"></i>
    </a>
  </p>
</div>
</div>
</article>
{% endunless %}
{% endunless %}

{% endfor %}

{% comment %}---> Include Advertisment at end {% endcomment %}

<article class="col-lg-6 ad">
<div class="row card-row">
  <div class="col-md-12">
    <ul class="list-inline text-xs-center">
      <li class="list-item"><iframe src="https://rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=indscieletric&banner=095A3E341XV9SZMHBWG2&f=ifr&linkID=728908df50cb0a3bbe3be2214c33cd92&t=360531-20&tracking_id=360531-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe></li>
      <li class="list-item"><iframe src="https://rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=indscieletric&banner=1XH0XKYZFPY5DG7N3M02&f=ifr&linkID=b73b36c8f93c40e134678d7561e96ced&t=360531-20&tracking_id=360531-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe></li>
    </ul>
  </div>
</div>
</article>

{% for post in site.posts offset:4 limit:5 %}
{% unless post.tag contains 'featured' %}
{% unless post.tag contains 'ad' %}

<article class="col-lg-6 small-cards">
<div class="row card-row">
<div class="col-md-6">
  <a class="thumbs" href="{{ post.url | prepend: site.baseurl }}">
  {% if post.image %}
  <img class="img-fluid" src="/images/posts/{{post.image}}" alt="{{ post.title }}" >
  {% else %}
  <img class="img-fluid" src="/images/" alt="{{ post.title }}" >
  {% endif%}
</a>
</div>
<div class="col-md-6 cardcontent">
  <a class="post-title" href="{{ post.url | prepend: site.baseurl }}"><h2 itemprop="name">{{ post.title }}</h2></a>
  <span class="card-author"><author>by <strong>{{ post.author }}</strong> | Posted: <em>{{ post.date | date: "%b %-d, %Y" }}</em></author></span>
  <p>
    <a class="post-tag" href="{{ post.category | prepend: site.baseurl | downcase }}"> {{ post.category }}</a>
     {{ post.content | strip_html | truncatewords:21 }}
    <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">
      Read more <i class="fa fa-arrow-circle-right"></i>
    </a>
  </p>
</div>
</div>
</article>
{% endunless %}
{% endunless %}

{% endfor %}

{% comment %}---> offset the rest of blog posts,
                  strip out "featured","ads" and "video" tags {% endcomment %}

{% for post in site.posts offset:9 limit:2 %}
{% unless post.tag contains 'featured' %}
{% unless post.tag contains 'ad' %}

<article class="col-lg-6 medium-cards">
<div class="row card-row">
<div class="col-md-12">
  <a class="thumbs" href="{{ post.url | prepend: site.baseurl }}">
  {% if post.image %}
  <img class="img-fluid" src="/images/posts/{{post.image}}" alt="{{ post.title }}" >
  {% else %}
  <img class="img-fluid" src="/images/" alt="{{ post.title }}" >
  {% endif%}
</a>
</div>
<div class="col-md-12 cardcontent">
  <a class="post-title" href="{{ post.url | prepend: site.baseurl }}"><h2 itemprop="name">{{ post.title }}</h2></a>
  <span class="card-author"><author>by <strong>{{ post.author }}</strong> | Posted: <em>{{ post.date | date: "%b %-d, %Y" }}</em></author></span>
  <p>
    <a class="post-tag" href="{{ post.category | prepend: site.baseurl | downcase }}"> {{ post.category }}</a>
     {{ post.content | strip_html | truncatewords:21 }}
    <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">
      Read more <i class="fa fa-arrow-circle-right"></i>
    </a>
  </p>
</div>
</div>
</article>
{% endunless %}
{% endunless %}

{% endfor %}
