<!DOCTYPE html>
<html>

{% include head.html %}
{% include google-page-ads.html %}

<body>

  {% include header.html %}


  <div class="container-fluid post-image" style="background: url(/images/posts/sbw-man-at-desk.jpg) 50% 50% fixed; background-size: cover;" id="blog">
  <div id="banner-color-overlay"></div>
    <div class="banner-text text-xs-left">
      <h1 class="post-title" itemprop="name">Blog</h1>
    </div>
  </div> <!-- /.container-full -->

<section id="post-body" class="category-body">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <article class="post clearfix" itemscope itemtype="http://schema.org/BlogPosting">

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

        </article>

      </div><!-- /.row -->
    </div>
  </div>
</section>

{% include subscribe.html %}
{% include footer.html %}
{% include contact.html %}
{% include script.html %}
{% include add-this.html %}

</body>

</html>
